.high {background-color:red;
size:12pt;
}
.medium {background-color:orange;
size:12pt;
}
.low {background-color:gray;
size:12pt;
}
.done {background-color:black;
size:12pt;
}
.high li {color:white;
}
.medium li {color:white;
}
.low li {color:black;
}
.done li {color:cyan;
}
