.high {background-color:red;
height: 200px;
  width: 300px;
size:12pt;
}
.medium {background-color:orange;
height: 200px;
  width: 300px;
size:12pt;
}
.low {background-color:gray;
height: 200px;
  width: 300px;
size:12pt;
}
.done {background-color:black;
height: 200px;
  width: 300px;
size:12pt;
}
.high li {color:white;
}
.medium li {color:white;
}
.low li {color:black;
}
.done li {color:cyan;
}
section {
  border: 5px solid black;
  height: 200px;
  width: 300px;
  overflow: auto;
  float: right;
}
